body{
	margin:0;
	padding: 0;
	font-family: 'Julius Sans One', sans-serif;
}
*{
	box-sizing: border-box;
	outline: none!important;
}

.login-page{
	background-image: url('../images/bg.jpg');
	background-size: cover;
	height: 120vh;
	position: relative;
}
.login-page:after{
content: '';
position: absolute;
left: 0px;
top: 0px;
height: 100%;
width: 100%;
background-color: rgba(0,0,0,.5);
z-index: 1;
}
.login-page .box{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	width: 280px;
	z-index: 2;
}

.login-page .box .form-head h2{
font-family: 'Julius Sans One', sans-serif;
text-align: center;
margin:10px 0px 20px;
color:#ffffff;
letter-spacing: 6px;
}

.login-page .box .form-body{
display: flex;
flex-direction: column;
}
.login-page .box .form-body input{
font-family: 'Julius Sans One', sans-serif;
height: 40px;
margin-bottom: 20px;
border:1px solid #ffffff;
width: 100%;
background-color: transparent;
border-radius: 20px;
text-align: center;
color:#ffffff;
transition:box-shadow .5s ease;
}
.login-page .box .form-body input:focus{
	box-shadow: 0px 0px 10px black;
}
.login-page .box .form-body input::placeholder{
	color:#ffffff;
	font-family: 'Julius Sans One', sans-serif;
	}
	.login-page .box .form-footer {
		text-align: center;

	}
.login-page .box .form-footer input{

	height: 40px;
	border-radius: 20px;
	padding: 0px 50px;
	color:#ffffff;
	background-color: #f44336;
	border:none;
	cursor: pointer;
	transition:box-shadow .5s ease;
	font-family: 'Julius Sans One', sans-serif;
}
.login-page .box .form-footer input:hover{
	box-shadow: 0px 0px 10px black;
}
option
{
	background-color: transparent;
	text-align: center;
	font-weight: bold;
}

select{
	text-align: center;
	height: 40px;
	margin-bottom: 20px;
	border:1px solid #ffffff;
	width: 100%;
	background-color: transparent;
	border-radius: 20px;
	color:black;
	transition:box-shadow .5s ease;
	box-shadow: 0px 0px 10px black;
	font-family: 'Julius Sans One', sans-serif;
	font-weight: bolder;
	font-style: cursive;
}
#result-content{
	display: flex;
	width: 100%;
	flex-flow:row;
	margin-top: 10px;
	text-align: center;
	border-radius: 20px;
	color:black;
	font-weight: bolder;
}
span
{
	border:1px solid #ffffff;
	border-radius: 20px;
	width:90px;
	font-size: 14px;
	padding-top: 5px;
	text-align: center;
	height: 30px;
	margin: auto;
	transition:box-shadow .5s ease;
	box-shadow: 0px 0px 10px black;
	background-color: white;
	opacity: 40%;
	font-family: Arial;
}
#error
{
	width:100%;
	color: red;
	padding-bottom: 3px;
}
@media(max-width: 479px)
{
	.login-page .box{
		width: 65%;
	}
	#result-content{
		flex-flow: column;
	}
	#error
	{
		font-size: 13px;
		padding-bottom: 4px;
		height:40%;
	}
	#result
	{
		width: 65%;
		margin-bottom: 10px;
	}
}
.bottom-marg{
	margin-bottom: 15px;
}
