body{
	margin:0;
	padding: 0;
	font-family: 'Julius Sans One', sans-serif;
	background-image: url('../images/bg.jpg');
	background-attachment: ;
}
*{
	box-sizing: border-box;
	outline: none!important;
}

.login-page{
<<<<<<< HEAD
	height: 100%;
	padding-top: 150px;

=======
	background-image: url('../images/bg.jpg');
	background-size: cover;
	height: 120vh;
	position: relative;
>>>>>>> fd50b33fd1f6164d887d901ef30f99bd7e5c98d9
}
.login-page:after{
content: '';
position: relative;		
width: 50%;
z-index: 1;
}
.login-page .box{
	position: relative;
	left: 10%;
	top: 50%;
	display: flex;
	flex-direction: column;
	width: 70%;
	z-index: 2;
}
.login-page .box:after{

}
.login-page .box .form-head h2{
font-family: 'Julius Sans One', sans-serif;
text-align: center;
margin:10px 0px 20px;
color:#ffffff;
letter-spacing: 6px;
}

.login-page .box .form-body{
display: flex;
flex-direction: column;
}
.login-page .box .form-body input{
font-family: 'Julius Sans One', sans-serif;
height: 40px;
margin-bottom: 20px;
border:1px solid #ffffff;
width: 100%;
background-color: transparent;
border-radius: 20px;
text-align: center;
color:#ffffff;
transition:box-shadow .5s ease;
}
.login-page .box .form-body input:focus{
	box-shadow: 0px 0px 10px black;
}
.login-page .box .form-body input::placeholder{
	color:#ffffff;
	font-family: 'Julius Sans One', sans-serif;
	}
	.login-page .box .form-footer {
		text-align: center;

	}
.login-page .box .form-footer input{

	height: 40px;
	border-radius: 20px;
	padding: 0px 50px;
	color:#ffffff;
	background-color: #f44336;
	border:none;
	cursor: pointer;
	transition:box-shadow .5s ease;
	font-family: 'Julius Sans One', sans-serif;
}
.login-page .box .form-footer input:hover{
	box-shadow: 0px 0px 10px black;
}
.main {
	display: flex;
	flex-flow: row;
	width: 100%;
	height: 100vh;
}
.main section{
	width: 50%;
	background-color: rgba(0,0,0,.5);

}
.charts{
	padding: 20px;
	padding-top: 100px;
}
option
{
	background-color: transparent;
	text-align: center;
	font-weight: bold;
}

select{
	text-align: center;
	height: 40px;
	margin-bottom: 20px;
	border:1px solid #ffffff;
	width: 100%;
	background-color: transparent;
	border-radius: 20px;
	color:black;
	transition:box-shadow .5s ease;
	box-shadow: 0px 0px 10px black;
	font-family: 'Julius Sans One', sans-serif;
	font-weight: bolder;
	font-style: cursive;
}
#result-content{
	display: flex;
	width: 100%;
	flex-flow:row;
	margin-top: 10px;
	text-align: center;
	border-radius: 20px;
	color:black;
	font-weight: bolder;
}
span
{
	border:1px solid #ffffff;
	border-radius: 20px;
	width:90px;
	font-size: 14px;
	padding-top: 5px;
	text-align: center;
	height: 30px;
	margin: auto;
	transition:box-shadow .5s ease;
	box-shadow: 0px 0px 10px black;
	background-color: white;
	opacity: 40%;
	font-family: Arial;
}
#error
{
	width:100%;
	color: red;
	padding-bottom: 3px;
}
@media(max-width: 1000px)
{
	#result-content{
		flex-flow: column;
	}
	#error
	{
		font-size: 13px;
		padding-bottom: 4px;
		height:40%;
	}
	#result
	{
		width: 65%;
		margin-bottom: 10px;
	}
	.login-page .box{
		width: 70%;
		left: 15%;
	}
	.main section{
		padding-top: 100px;
	}
	.charts{
		padding-top:150px ;
	}
}
@media(max-width: 768px)
{
	.login-page{
		padding-top: 150px;
	}
	.login-page .box{
		width: 70%;
		left: 15%;
	}
	#result-content{
		flex-flow: column;
	}
	#error
	{
		font-size: 13px;
		padding-bottom: 4px;
		height:40%;
	}
	#result
	{
		width: 65%;
		margin-bottom: 10px;
	}
	.main{
		display: flex;
		flex-flow: column;
	}
	.main section{
		width: 100%;
	}
	.charts{
		padding: 20px;
		padding-top: 20px !important;
	}
}
.bottom-marg{
	margin-bottom: 15px;
}
